.container{
	width: 1000px;
	margin: 0 auto;
	padding: 10px;
	background: #DEDEDE;
}
.container img{
	max-width: 500px;
	padding: 5px;
	border: 1px #999999 solid;
	border-radius: 3px;
	background-color: #ffffff;
}
#shopInfo{
	width: 600px;
	display: inline-block;
}
.shopDetail{
	margin: 20px 0 0 0;
}
.order{
	display: inline-block;
}
.order .orderBtn{
	padding: 10px 20px;
	border-radius: 5px;
	background: #4180B2;
	text-decoration: none;
	color: #ffffff;
}
.order .orderBtn:hover{
	color: #F25F5C;
}
.comment{
	width: 500px;
}