{% extends "base.html" %}
{% load static %}
{% block stylesheet %}
    <link rel='stylesheet' href='{% static "infernoWeb/css/inside.css" %}'>
{% endblock %}
{% block content%}
    <div class="container">
        <div class="column">
            <div id="shopInfo">
                {# 放該主題的大頭貼 基本介紹 以及雷達圖!!! #}
                {% include 'infernoWeb/profile.html' %}
            </div>
            <div class="order"><a href="../purchase/?res_id={{res.id}}" class="orderBtn">執行與這個商品或服務相對應的動作</a></div>
            <div class="shopDetail">
                {% block shopDetail %}
                    <h2>放一些文字敘述和照片充版面</h2>
                {% endblock %}
            </div>
            <div class="comment">
                <h3>評論</h3>
                <div>
                    <form class="ui reply form">
                        <div class="field">
                            <textarea placeholder="新增公開留言"></textarea>
                            <button><i class="fa fa-reply" aria-hidden="true"></i></button>
                        </div>
                    </form>
                    <div class="comment">
                        {% block comments %}
                            {# 列出所有使用者的留言 #}
                            {% for i in comments %}
                                <div class="customer">
                                    <img src="http://semantic-ui.com/images/avatar/small/matt.jpg">
                                </div>
                                <div class="cusInfo">
                                    <b>Matt</b>　<i>Today at 5:42PM</i>
                                    <div class="text">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos iusto, accusamus magni nam autem sint. Eligendi nesciunt consectetur quod molestias quidem iste voluptas fuga fugiat. Totam quasi enim voluptas cupiditate.</p>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javasript %}
{% endblock %}