{% extends "base.html" %}
{% load static %}
{% block stylesheet %}
    <link rel='stylesheet' href='{% static "infernoWeb/css/inside.css" %}'>
    <link rel="stylesheet" href='{% static "bower_components/toastr/toastr.min.css" %}'>
    {% block insideStyleSheet %}
    {% endblock %}
{% endblock %}
{% block content%}
    <div class="container">
        <div class="column">
            <div class="shopInfo">
                {# 放該主題的大頭貼 基本介紹 以及雷達圖!!! #}
                {% block profile %}
                {% endblock %}
            </div>
            <div class="shopDetail">
                {% block shopDetail %}
                    <h2>可以考慮要不要放一些文字敘述和照片充版面，或者之後再想也行</h2>
                {% endblock %}
            </div>
            <div class="comment">
                <h3>評論</h3>
                <div id="comments">
                    {% block comments %}
                        {# 列出所有使用者的留言 #}
                    {% endblock %}
                </div>
                <form class="ui reply form" action="" method="post">
                    {% csrf_token %}
                    <div class="field">
                        <textarea placeholder="新增公開留言" name="comments"></textarea>
                        <input class="orderBtn" type="submit" name="" onclick="toastr.success('留言成功!')">
                    </div>
                </form>
                
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script src={% static "bower_components/toastr/toastr.min.js" %}></script>
    {% block insideJavascript %}
    {% endblock %}
{% endblock %}