{% extends "base.html" %}
{% load static %}
{% block stylesheet %}
    <link rel='stylesheet' href='{% static "infernoWeb/css/inside.css" %}'>
    <link rel="stylesheet" href='{% static "bower_components/toastr/toastr.min.css" %}'>
    {% block insideStyleSheet %}
    {% endblock %}
{% endblock %}
{% block content%}
    <div class="container">
        <div class="column">
            <div class="shopInfo">
                {# 放該主題的大頭貼 基本介紹 以及雷達圖!!! #}
                {% block profile %}
                {% endblock %}
            </div>
            <div class="shopDetail">
                {% block shopDetail %}
                    <h2>可以考慮要不要放一些文字敘述和照片充版面</h2>
                {% endblock %}
            </div>
            <div class="comment">
                <h2>評論</h2>
                <div id="comments">
                    {% block comments %}
                        {# 列出所有使用者的留言 #}
                    {% endblock %}
                </div>
                <div class="ui reply form">
                    <div class="field">
                        <textarea placeholder="新增公開留言" name="comments"></textarea>
                        <button class="orderBtn" id="reply222">Submit</button> 
                        <div class="ui floating dropdown button" id='emotionDropdown'>
                          <div class="text"><i class="heart icon"></i>選擇情緒</div>
                          <i class="dropdown icon"></i>
                          <div class="menu">
                            <a class="item" data-value='neutral'><i class="meh icon"></i>中立</a>
                            <a class="item" data-value='neg'><i class="frown icon"></i>反面評論</a>
                            <a class="item" data-value='pos'><i class="smile icon"></i>正面評論</a>
                          </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script src={% static "bower_components/toastr/toastr.min.js" %}></script>
    <script type="text/javascript">
    $( document ).ready(function() {
        $('.ui.dropdown')
          .dropdown()
        ;

        $('#reply222').click(function(){
            if(window.loginTF==false){
                toastr.error('請登入後再留言')
                return
            }
            let emotion = $('#emotionDropdown').dropdown('get value')
            let comments = $('textarea').val()
            let payload = {'csrfmiddlewaretoken':getCookie('csrftoken'),'comments':comments, 'emotion':emotion}
            if (emotion==''){
                toastr.error('請選擇情緒')
                return
            }
            else if(comments.length<10){
                toastr.error('留言需要至少10個字')
                return
            }
            $.post(location.href, payload)
            .done(function() {
               toastr.success('留言成功!');
               location.reload();
            })
            .fail(function() {
                toastr.error('留言失敗')
            })
            .always(function() {
                console.log( "reply finished" );
            });                
        })
    })
    </script>
    {% block insideJavascript %}
    {% endblock %}
{% endblock %}