{% extends "base.html" %} {% block title %}Time2Eat{% endblock %} {% block content %}
<div class="pusher">
    <p>
        <p>
            <div class="ui centered grid container">
                <div class="column">
                    <div class="ui divided items">
                        {% for res in res %} 
                            {% include 'time2eatWeb/res_profile.html' %} 
                        {% endfor %}
                    </div>
                </div>
            </div>
        </p>
    </p>
</div>
{% endblock %}
