{% extends "base.html" %}
{% block title %}Time2Eat{% endblock %}
 {% block javascript %}
 	<script type="text/javascript">
 	  /*
 	  var UrlRouteAjax = function (Url, Case, ArgumentData,funcSuccess,funcFaild) {//async must be false
        	//取得目前URL的OBJ
        	var urlobj = (location.hash != "") ? JSON.parse(decodeURI(location.hash.slice(1))) : {};
        	//丟進ArgumentData內
        	for (var obj in urlobj) { ArgumentData[obj] = urlobj[obj]; }

        	 $.ajax({
                url: Url,
                data: ArgumentData,
                type: Case,
                dataType:'text',
                success: funcSuccess,
                error:funcFaild
                // function(xhr, ajaxOptions, thrownError){
                //    alert(xhr.status);
                //    alert(thrownError);
                // }
            });
    	}

      var ObjConvertToJsonUrl=function (obj) {
      	 var str = JSON.stringify(obj);
       	 str = encodeURI(str);
         return str;
    	}

 		window.onhashchange=function(){
 			UrlRouteAjax('../t2e/api/restaurant/list','get',{},function(data){
 			 	alert(data);
 			    var dataArray =	JSON.parse(data);
 			    //如果懶惰可以用innerHtml 稍微慢一些些 不過只做一次因該還好
 			   	var strDocument ="";
 			    for(var row in dataArray){
 			    	strDocument+='<div class="shopInfoBox">'+
    							'<div class="shopBoxHeader">'+
    	   						'<p class="shopTitle">'+dataArray[row].ResName+'<a>'+dataArray[row].ResLike+'</a>(我是用Jquery長出來的)</p>'+
    	   						'</div>'+
    	   						'<div class="shopBoxBody">'+
           						'<img class="shopImg" src="'+dataArray[row].avatar+'">'+
           					'<p>Score : '+dataArray[row].score+'</p>'+
          				 	'</div>'+
          					'<div class="shopBoxFooter">'+
           					'<p style="text-align:right;">'+
           					'<a>詳細資訊&nbsp;&nbsp;&nbsp;</a>'+
           					'<p></div></div>';
			    }
			    document.getElementById("InfoArea").innerHTML+=strDocument;

 			},
 			function(xhr, ajaxOptions, thrownError){
                   alert(xhr.status);
                   alert(thrownError);
          	});

 		};
 		window.addEventListener('load',function(){
 			//set default info
 			var obj ={start:1,gap:15};
 			location.hash =ObjConvertToJsonUrl(obj);
 			//測試方法用
 			//UrlRouteAjax('../t2e/api/restaurant/list','get',{start:1,gap:15},function(data){
 			//	alert(data);
 			//},
 			//function(xhr, ajaxOptions, thrownError){
            //       alert(xhr.status);
            //       alert(thrownError);
          	//});
 		},false);
 		*/
 	</script>
 {% endblock %}
{% block content %}
	<style>
  #InfoArea{
      margin: 0 210px;
    }
    /*餐廳左側nav*/
    ul {
      list-style-type: none;
      margin: 5px;
      padding: 0;
      width: 15%;
      height: 100%;
      float: left;
      background: #DEDEDE;
      font-size: 14.5px;
    }

    li a {
      display: block;
      color: #4180B2;
      padding: 8px 16px;
      text-decoration: none;
    }

li a:hover {
    color: #F25F5C;
}

		.shopInfoBox{
			margin: 0 0 1% 16%;
		}
		
		.thumbnail{
      width: 80%;
      padding: 5px;
      margin: 5px;
      overflow: auto;
      background-color: #DEDEDE;
      }
      .thumbnail img{
        max-width: 300px;
        float: left;
        border-radius: 5px;
        margin-right: 20px;
      }
      

      .thumbnail a{
        position: relative;
        text-decoration: none;
        color: #4180B2;
      }
      .shopBoxBody{
        padding: 20px;
      }
      .shopTitle{
      font-weight: 700;
      font-size: 18px;
    }
	</style>
  <div id="InfoArea">
      <ul class="nav">
        <li><a class="nav-link" href="#">飯類</a></li>
        <li><a class="nav-link" href="#">麵類</a></li>
        <li><a class="nav-link" href="#">速食</a></li>
        <li><a class="nav-link" href="#">早午餐</a></li>
        <li><a class="nav-link" href="#">素食</a></li>
      </ul>
      
      {% for r in res %}
      	<div class="shopInfoBox">
          <div class="thumbnail">
            <img class="shopImg" src="{{r.avatar.url}}">
            <div class="shopBoxBody">
              <span class="shopTitle">{{r.ResName}}</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt qui quam voluptatibus dicta tenetur distinctio error praesentium, perspiciatis sunt eos cumque cum dolor, quis dolorum corporis! Aliquam delectus ea soluta?</p>
              <a href="./inside_resturant/?res_id={{r.id}}">詳細資訊&nbsp;</a>
            </div>
              
          </div>
      	</div>
    	{% endfor %}
    </div>
{% endblock %}
