{% extends "base.html" %}

{% load static %}

{% block title %}Time2Eat{% endblock %} 

{% block stylesheet %}
    <link rel='stylesheet' href='{% static "time2eatWeb/css/inside.css" %}'>
{% endblock %}

{% block content%}
    <div class="container">
        <div class="column">
            <div id="shopInfo"> {% include 'time2eatWeb/res_profile.html' %}</div>
            <div class="shopDetail">
                <a href="../purchase/?res_id={{res.id}}"><i class="fa fa-cutlery" aria-hidden="true"></i>訂餐</a>
                <h4>舒適的環境：</h4>
                <p>{{res.envText}}</p>
                <img src="{{ res.environment.url }}">
                <h4>料理特色：</h4>
                <p>{{res.featureText}}</p>
                <img src="{{ res.feature.url }}">
            </div>
            <div class="ui segment">
                <h1>菜單</h1>
                {% for i in res.menu_set.all %}
                  <img class="ui image" src={{i.image.url}}>
                  <br>
                {% endfor %}
            </div>
            <div class="ui segment">
                <h1>照片</h1>
                <div class="ui four cards">
                    {% for i in res.dish_set.all %}
                      <a class="red card">
                        <div class="image">
                          <img src={{i.image.url}}>
                        </div>
                      </a>
                    {% endfor %}
                </div>
            </div>
            <div class="comment">
                <h1>評論</h1>
                <div class="">
                    <form class="ui reply form">
                        <div class="field">
                            <textarea placeholder="新增公開留言"></textarea>
                        </div>
                        <div class="ui blue labeled submit icon button">
                            <i class="icon edit"></i>發佈
                        </div>
                    </form>
                    <div class="comment">
                        <a class="avatar">
                            <img src="http://semantic-ui.com/images/avatar/small/matt.jpg">
                        </a>
                        <div class="content">
                            <b>Matt</b>　<i>Today at 5:42PM</i>
                            <div class="text">
                                How artistic!
                            </div>
                            <div class="actions">
                                <i class="fa fa-reply" aria-hidden="true"></i>Reply
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <a class="avatar">
                            <img src="http://semantic-ui.com/images/avatar/small/matt.jpg">
                        </a>
                        <div class="content">
                            <a class="author">Elliot Fu</a>
                            <div class="metadata">
                                <span class="date">Yesterday at 12:30AM</span>
                            </div>
                            <div class="text">
                                <p>This has been very useful for my research. Thanks as well!</p>
                            </div>
                            <div class="actions">
                                <a class="reply">Reply</a>
                            </div>
                        </div>
                        <div class="comments">
                            <div class="comment">
                                <a class="avatar">
                                    <img src="http://semantic-ui.com/images/avatar/small/matt.jpg">
                                </a>
                                <div class="content">
                                    <a class="author">Jenny Hess</a>
                                    <div class="metadata">
                                        <span class="date">Just now</span>
                                    </div>
                                    <div class="text">
                                        Elliot you are always so right :)
                                    </div>
                                    <div class="actions">
                                        <a class="reply">Reply</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <a class="avatar">
                            <img src="http://semantic-ui.com/images/avatar/small/matt.jpg">
                        </a>
                        <div class="content">
                            <a class="author">Joe Henderson</a>
                            <div class="metadata">
                                <span class="date">5 days ago</span>
                            </div>
                            <div class="text">
                                Dude, this is awesome. Thanks so much
                            </div>
                            <div class="actions">
                                <a class="reply">Reply</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javasript %}

{% endblock %}
