{% extends "base.html" %} {% block title %}Time2Eat{% endblock %} {% block content%}

<div class="pusher" id="example1">
    <div class="ui centered grid container">
        <div class="column">
            <div class="ui sticky">
                <div style="clear:both" class="ui teal menu">
                    <a class="active item">
                        <i class="home icon"></i> Home
                    </a>
                    <a class="item">
                        <i class="info icon"></i> About
                    </a>
                    <a class="item">
                        <i class="book icon"></i> Read
                    </a>
                    <a class="item">
                        <i class="edit icon"></i> Write
                    </a>
                    <div class="ui right menu">
                        <a class="item" id="logIn">
                            <i class="user icon"></i> Log In
                        </a>
                        <a class="item" href="signup">
                            <i class="signup icon"></i> Sign Up
                        </a>
                    </div>
                </div>
            </div>
            <div class="ui segment">
                <h1>{{ res.ResName }}</h1>
                <button onclick="window.history.back();">上一頁</button>
                <button onclick="location.href='../purchase?res_id={{res.id}}'">訂餐</button>
                <img class="ui image" src="{{ res.avatar.url }}">
                <h5>Test1</h5>
                <br>地址：{{ res.address }}
                <br>電話： {% for i in res.phone_set.all %} {% if forloop.first %} {{i.phoneNum}} {% else %} -Or- {{i.phoneNum}} {% endif %} {% endfor %}
                <br>營業時間：週一至週日 11:30~01:00
                <br>最晚預約或點餐時間：{{ res.last_reserv }}
            </div>
            <div class="ui segment">
                <span style="font-weight:bold;">舒適的環境：</span>
                <br> {{res.envText}}
                <br>
                <img class="ui image" src="{{ res.environment.url }}">
                <br>
                <span style="font-weight:bold;">料理特色：</span>
                <br> {{res.featureText}}
                <br>
                <img class="ui image" src="{{ res.feature.url }}">
                <br>
            </div>
            <div class="ui segment">
                <h1>菜單</h1>
                {% for i in res.menu_set.all %}
                  <img class="ui image" src={{i.image.url}}>
                  <br>
                {% endfor %}
            </div>
            <div class="ui segment">
                <h1>照片</h1>
                <div class="ui four cards">
                    {% for i in res.dish_set.all %}
                      <a class="red card">
                        <div class="image">
                          <img src={{i.image.url}}>
                        </div>
                      </a>
                    {% endfor %}
                </div>
            </div>
            <div class="ui segment">
                <h1>評論</h1>
                <div class="ui minimal comments">
                    <form class="ui reply form">
                        <div class="field">
                            <textarea placeholder="新增公開留言"></textarea>
                        </div>
                        <div class="ui blue labeled submit icon button">
                            <i class="icon edit"></i>發佈
                        </div>
                    </form>
                    <div class="comment">
                        <a class="avatar">
                            <img src="http://semantic-ui.com/images/avatar/small/matt.jpg">
                        </a>
                        <div class="content">
                            <a class="author">Matt</a>
                            <div class="metadata">
                                <span class="date">Today at 5:42PM</span>
                            </div>
                            <div class="text">
                                How artistic!
                            </div>
                            <div class="actions">
                                <a class="reply">Reply</a>
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <a class="avatar">
                            <img src="http://semantic-ui.com/images/avatar/small/matt.jpg">
                        </a>
                        <div class="content">
                            <a class="author">Elliot Fu</a>
                            <div class="metadata">
                                <span class="date">Yesterday at 12:30AM</span>
                            </div>
                            <div class="text">
                                <p>This has been very useful for my research. Thanks as well!</p>
                            </div>
                            <div class="actions">
                                <a class="reply">Reply</a>
                            </div>
                        </div>
                        <div class="comments">
                            <div class="comment">
                                <a class="avatar">
                                    <img src="http://semantic-ui.com/images/avatar/small/matt.jpg">
                                </a>
                                <div class="content">
                                    <a class="author">Jenny Hess</a>
                                    <div class="metadata">
                                        <span class="date">Just now</span>
                                    </div>
                                    <div class="text">
                                        Elliot you are always so right :)
                                    </div>
                                    <div class="actions">
                                        <a class="reply">Reply</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <a class="avatar">
                            <img src="http://semantic-ui.com/images/avatar/small/matt.jpg">
                        </a>
                        <div class="content">
                            <a class="author">Joe Henderson</a>
                            <div class="metadata">
                                <span class="date">5 days ago</span>
                            </div>
                            <div class="text">
                                Dude, this is awesome. Thanks so much
                            </div>
                            <div class="actions">
                                <a class="reply">Reply</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block javasript %} {% endblock %}
