{% extends "time2eat/base/base.html" %} 
{% block title %}Time2Eat{% endblock %}

{% block content%}

    <div class="pusher" id="example1">        
        <div class="ui centered grid container">
            <div class="column">
                <div class="ui sticky">
                  <div style="clear:both" class="ui teal menu">
                    <a class="active item">
                      <i class="home icon"></i> Home
                    </a>
                    <a class="item">
                      <i class="info icon"></i> About
                    </a>
                    <a class="item">
                      <i class="book icon"></i> Read
                    </a>
                    <a class="item">
                      <i class="edit icon"></i> Write
                    </a>
                    <div class="ui right menu">
                      <a class="item" id="logIn">
                        <i class="user icon"></i> Log In
                      </a>
                      <a class="item" href="signup">
                        <i class="signup icon"></i> Sign Up
                      </a>
                    </div>
                  </div>
                </div>
                <div class="ui segment">
                    <h1>in the pot 鍋裡。鍋物</h1>
                    <img class="ui fluid image" src="http://pic.gomaji.com/uploads/stores/135/91135/122785/IMG_0178-%E6%8B%B7%E8%B2%9D.jpg">
                    <br>地址：台中市霧峰區育群路15號
                    <br>電話：(04)2339-3158
                    <br>營業時間：週一至週日 11:30~01:00
                    <br>最晚預約或點餐時間：00:00
                </div>
                <div class="ui segment">
                    <span style="font-weight:bold;">舒適的環境</span>
                    <br> 以新鮮食材佐特製湯頭，搭配風格設計空間，讓聚餐除了享受美食，也能提升時尚品味！
                    <br>
                    <img class="ui fluid image" src="http://pic.gomaji.com/uploads/stores/135/91135/116035/IMG_0173-%E6%8B%B7%E8%B2%9D.jpg">
                    <br>
                    <span style="font-weight:bold;">美國培根牛和風鍋物</span>
                    <br> 均勻分布的油花與鮮紅肉質，讓口感更加紮實不凡，牛肉獨有的香氣與油花潤飾，放進精心熬煮清甜的壽喜燒湯汁中輕涮，令人流連忘返的香滑柔嫩口感，讓你感動不已！
                    <br>
                    <img class="ui fluid image" src="http://pic.gomaji.com/uploads/stores/135/91135/122785/IMG_0213-%E6%8B%B7%E8%B2%9D.jpg">
                    <br>
                    <img class="ui fluid image" src="http://pic.gomaji.com/uploads/stores/135/91135/122785/IMG_8871-%E6%8B%B7%E8%B2%9D.jpg">
                    <br>
                    <img class="ui fluid image" src="http://pic.gomaji.com/uploads/stores/135/91135/122785/IMG_8868-%E6%8B%B7%E8%B2%9D.jpg">
                    <br>
                    <span style="font-weight:bold;">蔬菜盤</span>
                    <br>
                    <img class="ui fluid image" src="http://pic.gomaji.com/uploads/stores/135/91135/122785/IMG_8863-%E6%8B%B7%E8%B2%9D.jpg">
                    <br>
                </div>
                <div class="ui segment">
                    <h1>菜單</h1>
                    <img class="ui fluid image" src="http://pic.gomaji.com//uploads/stores/135/91135/126021/91135-126021-m.jpg">
                    <br>
                    <img class="ui fluid image" src="http://www.17life.com/Images/imagesU/8/891abdde-d8eb-45f4-b0a1-22c23ad66a23/MENU_01.jpg">
                </div>
                <div class="ui segment">
                    <h1>照片</h1>
                    <div class="ui four cards">
                        <a class="red card">
                            <div class="image">
                                <img src="http://farm1.staticflickr.com/600/21665532940_5991eda7ab_b.jpg">
                            </div>
                        </a>
                        <a class="orange card">
                            <div class="image">
                                <img src="https://pic.pimg.tw/food1206/1447485438-4182567673_n.jpg?v=1447485529">
                            </div>
                        </a>
                        <a class="yellow card">
                            <div class="image">
                                <img src="http://img.ricelala.com/pixnet/b5c5fa5c2dc7e035f5501198f4362838.jpg">
                            </div>
                        </a>
                        <a class="olive card">
                            <div class="image">
                                <img src="http://pic.gomaji.com/uploads/stores/135/91135/116035/IMG_0204-%E6%8B%B7%E8%B2%9D.jpg">
                            </div>
                        </a>
                        <a class="green card">
                            <div class="image">
                                <img src="http://i0.wp.com/img.fun-life.com.tw/wufeng-In-the-pot/DSC06296.JPG?resize=800%2C532">
                            </div>
                        </a>
                        <a class="teal card">
                            <div class="image">
                                <img src="http://pic.gomaji.com/stores/135/91135/91135_4_r.jpg">
                            </div>
                        </a>
                        <a class="blue card">
                            <div class="image">
                                <img src="http://pic.gomaji.com/products/21/126021/126021_5_r.jpg?1467199251">
                            </div>
                        </a>
                        <a class="violet card">
                            <div class="image">
                                <img src="https://pic.gomaji.com/uploads/stores/800/43800/DSC_9745.jpg">
                            </div>
                        </a>
                        <a class="purple card">
                            <div class="image">
                                <img src="http://i0.wp.com/img.fun-life.com.tw/wufeng-In-the-pot/DSC06267.JPG?resize=800%2C532">
                            </div>
                        </a>
                        <a class="pink card">
                            <div class="image">
                                <img src="http://i0.wp.com/img.fun-life.com.tw/wufeng-In-the-pot/DSC06275.JPG?resize=800%2C532">
                            </div>
                        </a>
                        <a class="brown card">
                            <div class="image">
                                <img src="http://www.17life.com/media/A0-62-624/891abddeEDMd8ebEDM45f4EDMb0a1EDM22c23ad66a23.jpg">
                            </div>
                        </a>
                        <a class="grey card">
                            <div class="image">
                                <img src="http://twgroupbuy.com/qbimage/p_gomaji/GO116035.jpg">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="ui segment">
                    <h1>評論</h1>
                    <div class="ui minimal comments">
                        <form class="ui reply form">
                            <div class="field">
                                <textarea placeholder="新增公開留言"></textarea>
                            </div>
                            <div class="ui blue labeled submit icon button">
                                <i class="icon edit"></i>發佈
                            </div>
                        </form>
                        <div class="comment">
                            <a class="avatar">
                                <img src="http://semantic-ui.com/images/avatar/small/matt.jpg">
                            </a>
                            <div class="content">
                                <a class="author">Matt</a>
                                <div class="metadata">
                                    <span class="date">Today at 5:42PM</span>
                                </div>
                                <div class="text">
                                    How artistic!
                                </div>
                                <div class="actions">
                                    <a class="reply">Reply</a>
                                </div>
                            </div>
                        </div>
                        <div class="comment">
                            <a class="avatar">
                                <img src="http://semantic-ui.com/images/avatar/small/matt.jpg">
                            </a>
                            <div class="content">
                                <a class="author">Elliot Fu</a>
                                <div class="metadata">
                                    <span class="date">Yesterday at 12:30AM</span>
                                </div>
                                <div class="text">
                                    <p>This has been very useful for my research. Thanks as well!</p>
                                </div>
                                <div class="actions">
                                    <a class="reply">Reply</a>
                                </div>
                            </div>
                            <div class="comments">
                                <div class="comment">
                                    <a class="avatar">
                                        <img src="http://semantic-ui.com/images/avatar/small/matt.jpg">
                                    </a>
                                    <div class="content">
                                        <a class="author">Jenny Hess</a>
                                        <div class="metadata">
                                            <span class="date">Just now</span>
                                        </div>
                                        <div class="text">
                                            Elliot you are always so right :)
                                        </div>
                                        <div class="actions">
                                            <a class="reply">Reply</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment">
                            <a class="avatar">
                                <img src="http://semantic-ui.com/images/avatar/small/matt.jpg">
                            </a>
                            <div class="content">
                                <a class="author">Joe Henderson</a>
                                <div class="metadata">
                                    <span class="date">5 days ago</span>
                                </div>
                                <div class="text">
                                    Dude, this is awesome. Thanks so much
                                </div>
                                <div class="actions">
                                    <a class="reply">Reply</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javasript %}
{% endblock %}
