{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>TimeToEat</title>
    <link rel="icon" href="nchu_sg.jpg" type="image/ico" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 引入Ｊquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- 引入Ｊs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.js"></script>
    <!-- 引入CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.css"> {% block eachStyle %}{% endblock %}
</head>

<body>
    <!-- Following Menu -->
    <!-- Page Contents 功能簡介 -->
    <div class="pusher">
        <!-- ================================================= -->
        <div class="ui huge secondary pointing menu">
            <a class="item" href="http://127.0.0.1:8000/time2eat/">
                <h2>推薦餐廳</h2>
            </a>
            <a class="item" href="http://127.0.0.1:8000/time2eat/all_list/">
                <h2>餐廳總覽</h2>
            </a>
            <a class="active item" href="http://127.0.0.1:8000/time2eat/nearby_list" />
            <h2>附近餐廳</h2>
            </a>
            <a class="item">
                <h2>今晚吃什麼</h2>
            </a>
            <div class="right menu">
                <div class="ui transparent icon input">
                    <input placeholder="尋找餐廳" type="text">
                    <i class="search link icon"></i>
                </div>
                <div class="item">
                    <div class="ui icon button"><i class="user icon"></i></div>
                </div>
            </div>
        </div>
        <div class="ui centered grid">
            <div class="column">
                <div class="ui sticky" style="width: 670.667px !important; height: 42.6667px !important; left: 278px;">
                    <div class="ui fluid four item tabular inverted menu">
                        <a class="active item">介紹</a>
                        <a class="item">菜單</a>
                        <a class="item">照片</a>
                        <a class="item">評論</a>
                    </div>
                </div>
                <div class="ui segment">
                    <h1>in the pot 鍋裡。鍋物</h1>
                    <img class="ui fluid image" src="http://pic.gomaji.com/uploads/stores/135/91135/122785/IMG_0178-%E6%8B%B7%E8%B2%9D.jpg">
                    <br>地址：台中市霧峰區育群路15號
                    <br>電話：(04)2339-3158
                    <br>營業時間：週一至週日 11:30~01:00
                    <br>最晚預約或點餐時間：00:00
                </div>
                <div class="ui segment">
                    <span style="font-weight:bold;">舒適的環境</span>
                    <br> 以新鮮食材佐特製湯頭，搭配風格設計空間，讓聚餐除了享受美食，也能提升時尚品味！
                    <br>
                    <img class="ui fluid image" src="http://pic.gomaji.com/uploads/stores/135/91135/116035/IMG_0173-%E6%8B%B7%E8%B2%9D.jpg">
                    <br>
                    <span style="font-weight:bold;">美國培根牛和風鍋物</span>
                    <br> 均勻分布的油花與鮮紅肉質，讓口感更加紮實不凡，牛肉獨有的香氣與油花潤飾，放進精心熬煮清甜的壽喜燒湯汁中輕涮，令人流連忘返的香滑柔嫩口感，讓你感動不已！
                    <br>
                    <img class="ui fluid image" src="http://pic.gomaji.com/uploads/stores/135/91135/122785/IMG_0213-%E6%8B%B7%E8%B2%9D.jpg">
                    <br>
                    <img class="ui fluid image" src="http://pic.gomaji.com/uploads/stores/135/91135/122785/IMG_8871-%E6%8B%B7%E8%B2%9D.jpg">
                    <br>
                    <img class="ui fluid image" src="http://pic.gomaji.com/uploads/stores/135/91135/122785/IMG_8868-%E6%8B%B7%E8%B2%9D.jpg">
                    <br>
                    <span style="font-weight:bold;">蔬菜盤</span>
                    <br>
                    <img class="ui fluid image" src="http://pic.gomaji.com/uploads/stores/135/91135/122785/IMG_8863-%E6%8B%B7%E8%B2%9D.jpg">
                    <br>
                </div>
                <div class="ui segment">
                    <h1>菜單</h1>
                    <img class="ui fluid image" src="http://pic.gomaji.com//uploads/stores/135/91135/126021/91135-126021-m.jpg">
                    <br>
                    <img class="ui fluid image" src="http://www.17life.com/Images/imagesU/8/891abdde-d8eb-45f4-b0a1-22c23ad66a23/MENU_01.jpg">
                </div>
                <div class="ui segment">
                    <h1>照片</h1>
                    <div class="ui four cards">
                        <a class="red card">
                            <div class="image">
                                <img src="http://farm1.staticflickr.com/600/21665532940_5991eda7ab_b.jpg">
                            </div>
                        </a>
                        <a class="orange card">
                            <div class="image">
                                <img src="https://pic.pimg.tw/food1206/1447485438-4182567673_n.jpg?v=1447485529">
                            </div>
                        </a>
                        <a class="yellow card">
                            <div class="image">
                                <img src="http://img.ricelala.com/pixnet/b5c5fa5c2dc7e035f5501198f4362838.jpg">
                            </div>
                        </a>
                        <a class="olive card">
                            <div class="image">
                                <img src="http://pic.gomaji.com/uploads/stores/135/91135/116035/IMG_0204-%E6%8B%B7%E8%B2%9D.jpg">
                            </div>
                        </a>
                        <a class="green card">
                            <div class="image">
                                <img src="http://i0.wp.com/img.fun-life.com.tw/wufeng-In-the-pot/DSC06296.JPG?resize=800%2C532">
                            </div>
                        </a>
                        <a class="teal card">
                            <div class="image">
                                <img src="http://pic.gomaji.com/stores/135/91135/91135_4_r.jpg">
                            </div>
                        </a>
                        <a class="blue card">
                            <div class="image">
                                <img src="http://pic.gomaji.com/products/21/126021/126021_5_r.jpg?1467199251">
                            </div>
                        </a>
                        <a class="violet card">
                            <div class="image">
                                <img src="https://pic.gomaji.com/uploads/stores/800/43800/DSC_9745.jpg">
                            </div>
                        </a>
                        <a class="purple card">
                            <div class="image">
                                <img src="http://i0.wp.com/img.fun-life.com.tw/wufeng-In-the-pot/DSC06267.JPG?resize=800%2C532">
                            </div>
                        </a>
                        <a class="pink card">
                            <div class="image">
                                <img src="http://i0.wp.com/img.fun-life.com.tw/wufeng-In-the-pot/DSC06275.JPG?resize=800%2C532">
                            </div>
                        </a>
                        <a class="brown card">
                            <div class="image">
                                <img src="http://www.17life.com/media/A0-62-624/891abddeEDMd8ebEDM45f4EDMb0a1EDM22c23ad66a23.jpg">
                            </div>
                        </a>
                        <a class="grey card">
                            <div class="image">
                                <img src="http://twgroupbuy.com/qbimage/p_gomaji/GO116035.jpg">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="ui segment">
                    <h1>評論</h1>
                    <div class="ui minimal comments">
                        <form class="ui reply form">
                            <div class="field">
                                <textarea placeholder="新增公開留言"></textarea>
                            </div>
                            <div class="ui blue labeled submit icon button">
                                <i class="icon edit"></i>發佈
                            </div>
                        </form>
                        <div class="comment">
                            <a class="avatar">
                                <img src="http://semantic-ui.com/images/avatar/small/matt.jpg">
                            </a>
                            <div class="content">
                                <a class="author">Matt</a>
                                <div class="metadata">
                                    <span class="date">Today at 5:42PM</span>
                                </div>
                                <div class="text">
                                    How artistic!
                                </div>
                                <div class="actions">
                                    <a class="reply">Reply</a>
                                </div>
                            </div>
                        </div>
                        <div class="comment">
                            <a class="avatar">
                                <img src="http://semantic-ui.com/images/avatar/small/matt.jpg">
                            </a>
                            <div class="content">
                                <a class="author">Elliot Fu</a>
                                <div class="metadata">
                                    <span class="date">Yesterday at 12:30AM</span>
                                </div>
                                <div class="text">
                                    <p>This has been very useful for my research. Thanks as well!</p>
                                </div>
                                <div class="actions">
                                    <a class="reply">Reply</a>
                                </div>
                            </div>
                            <div class="comments">
                                <div class="comment">
                                    <a class="avatar">
                                        <img src="http://semantic-ui.com/images/avatar/small/matt.jpg">
                                    </a>
                                    <div class="content">
                                        <a class="author">Jenny Hess</a>
                                        <div class="metadata">
                                            <span class="date">Just now</span>
                                        </div>
                                        <div class="text">
                                            Elliot you are always so right :)
                                        </div>
                                        <div class="actions">
                                            <a class="reply">Reply</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment">
                            <a class="avatar">
                                <img src="http://semantic-ui.com/images/avatar/small/matt.jpg">
                            </a>
                            <div class="content">
                                <a class="author">Joe Henderson</a>
                                <div class="metadata">
                                    <span class="date">5 days ago</span>
                                </div>
                                <div class="text">
                                    Dude, this is awesome. Thanks so much
                                </div>
                                <div class="actions">
                                    <a class="reply">Reply</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================== -->
    </div>
</body>
<script type="text/javascript">
$('.ui.sticky')
    .sticky();
</script>

</html>
