<div class="item">
    <!-- pass res_id int {{res.id}} this position, then django render that page with specific restaurant -->
    <a class="image" href="/time2eat/inside_resturant/{{res.id}}">
        <!-- res.avatar是餐廳物件的照片欄位，有url這個attribute會顯示相對位置 -->
        <!-- res.avatar is imagefield of ResProf Object, which has url attribute that will be rendered into relative path -->
        <img src="{{ res.avatar.url }}">
    </a>
    <div class="content">
        <a class="header" href="/time2eat/inside_resturant/{{res.id}}">{{ res.ResName }}</a>
        <div class="meta">
            <span class="cinema">{{ res.address }}</span>
        </div>
        <div class="description">
            <p>最後預約時間:{{ res.last_reserv }}</p>
        </div>
        <div class="extra">
            <div class="ui labeled button" tabindex="0">
                <div class="ui button">
                    <i class="heart icon"></i> Like
                </div>
                <a class="ui basic label">{{ res.ResLike}}</a>
            </div>
            <div class="ui labeled button" tabindex="0">
                <div class="ui button">
                    <i class="heart icon"></i> 評分
                </div>
                <a class="ui basic label">{{ res.score}}</a>
            </div>
        </div>
    </div>
</div>
