{% extends "infernoWeb/index.html" %}

{% block navbar %}
	<ul class="nav">
		<li><a class="nav-link" href="#">實習</a></li>
		<li><a class="nav-link" href="#">求職</a></li>
		<li><a class="nav-link" href="#">家教</a></li>
		<li><a class="nav-link" href="#">公司</a></li>
	</ul>
{% endblock %}

{% block shopInfoBox %}
	{% for j in jlist %}
		<div class="shopInfoBox">
			<div class="thumbnail">
				<a href="/infernoWeb/arrogant/inside?id={{j.id}}"><img class="shopImg" src="{{j.avatar.url}}"></a>
				<div class="shopBoxBody">
					<span class="shopTitle">{{j.job}}</span> 
					<p>公司：{{j.company}}</p>
					<p>工作地點：{{j.工作地點}}</p>
					<p>資料來源：{{j.fromWitchWeb}}</p>
					<h3><i class="fa fa-heart" aria-hidden="true"></i>薪資：{{j.薪資}}</h3>
				</div>
			</div>
		</div>
	{% endfor %}
{% endblock %}