<div class="ui small basic test modal">
	<div class="ui icon header">
	  <i class="archive icon"></i>
	  {{ j.name }}-評比問卷
	</div>
	<div class="content">
	  <div class="ui form">
	  	{% csrf_token %}
	  	<div class="ui icon header">
	  		<div class="ui blue ribbon label">
	  			<div class="">薪資高低：</div>很低<div class="ui star rating" data-rating="3" data-max-rating="5"></div>很高
	  		</div>
	  		<div class="ui blue ribbon label">
	  			<div class="">工時長短：</div>很短<div class="ui star rating" data-rating="3" data-max-rating="5"></div>很長
	  		</div>
	  		<div class="ui blue ribbon label">
	  			<div class="">交通便利性：</div>不便<div class="ui star rating" data-rating="3" data-max-rating="5"></div>方便
	  		</div>
	  		<div class="ui blue ribbon label">
	  			<div class="">公司週邊環境：</div>偏僻<div class="ui star rating" data-rating="3" data-max-rating="5"></div>熱鬧
	  		</div>
	  		<div class="ui blue ribbon label">
	  			<div class="">辦公室環境：</div>不適<div class="ui star rating" data-rating="3" data-max-rating="5"></div>舒適
	  		</div>
	  		<div class="ui blue ribbon label">
	  			<div class="">同事相處氛圍：</div>不合<div class="ui star rating" data-rating="3" data-max-rating="5"></div>融洽
	  		</div>
	  		<div class="ui blue ribbon label">
	  			<div class="">工作量：</div> 很少<div class="ui star rating" data-rating="3" data-max-rating="5"></div>很多 
	  		</div>
	  		<div class="ui blue ribbon label">
	  			<div class="">公司福利：</div>很壞<div class="ui star rating" data-rating="3" data-max-rating="5"></div>很好
	  		</div>
	  	</div>
	  </div>
	</div>
	<div class="actions">
	  <div class="ui red basic cancel inverted button">
	    <i class="remove icon"></i>
	    取消
	  </div>
	  <div class="ui green ok inverted button" id="questionnaire">
	    <i class="checkmark icon botton"></i>
	    提交
	  </div>
	</div>
</div>