{% extends "infernoWeb/inside.html" %}
{% load static %}
{% block insideStyleSheet %}
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link rel="stylesheet" href="https://rawgit.com/tpreusse/radar-chart-d3/master/src/radar-chart.css">
    <style>
    .radar-chart .area {
    fill-opacity: 0.7;
    }
    .radar-chart.focus .area {
    fill-opacity: 0.3;
    }
    .radar-chart.focus .area.focused {
    fill-opacity: 0.9;
    }
    .area.germany, .germany .circle {
    fill: #FFD700;
    stroke: none;
    }
    .area.argentina, .argentina .circle {
    fill: #ADD8E6;
    stroke: none;
    }
    </style>
{% endblock %}
{% block profile %}
    <div class="ui two column grid" id='profile'>
      {# 課程的詳細資訊 #}
    </div>
    <hr class="fade">
    
    {# 載入課程問卷 #}
    {% include "slothWeb/questionnaire.html" %}
    
{% endblock %}
{% block shopDetail %}

  <button class="ui primary button" id="goquestion">參與評比該課程</button>
  <div class="ui four item inverted stackable menu">
    <a class="active blue item" emotion='all'>所有留言</a>
    <a class="blue item" emotion='neutral'>中立評論</a>
    <a class="blue item" emotion='pos'>正面評論</a>
    <a class="blue item" emotion='neg'>反面評論</a>
  </div>
{% endblock %}

{% block insideJavascript %}
    <script src={% static "bower_components/d3/d3.min.js" %}></script>
    <script src={% static "bower_components/radar-chart-d3/src/radar-chart.min.js" %}></script>
    <script>
    /*************************************************************************/
    // 給django做post的時候用來取得csrftoken的函式
    function getCookie(name) {
            //name should be 'csrftoken', as an argument to be sent into getCookie()
           var cookieValue = null;
           if (document.cookie && document.cookie != '') {
               var cookies = document.cookie.split(';');
               for (var i = 0; i < cookies.length; i++) {
                   var cookie = jQuery.trim(cookies[i]);
                   // Does this cookie string begin with the name we want?
                   if (cookie.substring(0, name.length + 1) == (name + '=')) {
                       cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                       break;
                   }
               }
           }
           return cookieValue;
    }
    function activeMenu() {

      // selector cache
      var $menuItem = $('div.four.menu a.item')
      function activate() {
        $(this)
        .addClass('active')
        .closest('.ui.menu')
        .find('.item')
        .not($(this))
        .removeClass('active');
        for(let i of $('div.comments-item')){
          if ($(this).attr('emotion')=='all'){
            $(i).css('display', '')
          }
          else if ($(i).attr('emotion')==$(this).attr('emotion')){
            $(i).css('display', '')
          }
          else{
            $(i).css('display', 'none')
          }
        }
      }

      $menuItem
        .on('click', activate)
      ;

    };
    /*************************************************************************/

    $( document ).ready(function() {
        activeMenu();

        $.getJSON('/sloth/get/cvalue' + window.location.search, function(json){
            let result = $(`
              <div class="eight wide column" id="profile">
                <h3 class="ui header" id='name'></h3>
                <p class="cinema">
                  老師：<span id='teacher'></span><br>
                  課程類型：<span id='ctype'></span><br>
                  上課教材：<span id='book'></span><br>
                  開課系所：<span id='dept'></span><br>
                  評分方式：<span id='benchmark'></span>
                </p>
                <p>
                  <i class="ui red heart outline like icon" aria-hidden="true"></i><span id='feedback_amount'></span>人參與評分
                </p>
              </div>
              <div class="eight wide column" id="chart-container"></div>
            `)
            result
              .find('#avatar').attr('src', json['avatar']).end()
              .find('#name').text(json['name']).end()
              .find('#teacher').text(json['teacher']).end()
              .find('#ctype').text(json['ctype']).end()
              .find('#book').text(json['book']).end()
              .find('#dept').text(json['dept']).end()
              .find('#benchmark').text(json['benchmark']).end()
              .find('#feedback_amount').text(json['feedback_amount']).end()
            $('#profile').append(result)
        }).done(function(result){
          // semantic-ui activation function
          $('.rating').rating('setting', 'clearable', true);
          $('#goquestion').click(function(){
              if(getCookie('facebookid')==null){
                  toastr.error('請登入後再參與評分')
                  return
              }
              $('.modal')
                .modal('show')
              ;            
          })
        })
        /************************畫雷達圖***************************/
        async function run(){
          function getArticleList(){
              id = location.search.split('id=')[1]
              return new Promise(function(resolve, reject){
                  $.getJSON( "/sloth/get/cvalue?id="+id, function( j ) {
                  }).done(result => {
                      resolve(result);
                  });
              });
          }
          var result = await getArticleList();
          data = [
            {
                axes: [
                {axis: "自由", value: result['feedback_freedom']},
                {axis: "知識性", value: result['feedback_knowledgeable']},
                {axis: "氛圍", value: result['feedback_FU']},
                {axis: "成績", value: result['feedback_GPA']},
                {axis: "簡單", value: result['feedback_easy']}
                ]
            }
          ]

          $('#chart-container').empty();
          var chart = RadarChart.chart();
          chart.config({
            containerClass: 'radar-chart', // target with css, the default stylesheet targets .radar-chart
            w: 200,
            h: 200,
            factor: 0.9,
            factorLegend: 1,
            levels: 5,
            maxValue: 5,
            minValue: 0,
          });

          var svg = d3.select('#chart-container').append('svg')
            .attr('width', 200)
            .attr('height', 200); 

          // draw one
          svg = svg.append('g').classed('focus', 3).datum(data)
          svg.call(chart)
          d3.selectAll(".axis text").style("font-size","14px")
        }
        run();
        /************************畫雷達圖***************************/
        // query留言api，自動生成出留言
        $.getJSON('/sloth/get/comment' + window.location.search + '&start=1', function(json){
          for (let j of json){
            let result = $(
            `
            <div class="comments-item" emotion="">
              <div class="customer">
                <img src='{% static "../media/student.png" %}'>
              </div>
              <div class="cusInfo">
                <b>同學</b>　<i class='create'></i>
                <div class="text">
                  <p class='raw'></p>
                  <div class="ui labeled button" tabindex="0">
                    <div class="mini ui red button">
                      <i class="heart icon"></i> Like
                    </div>
                    <a class="ui basic red left pointing label"></a>
                  </div>
                </div>
              </div>
            </div>
            `
            );
            result
              .find('i.create').text(j['fields']['create']).end()
              .find('p.raw').text(j['fields']['raw']).end()
              .find('a.pointing.label').text(j['fields']['like']).end()
              .find('b').text(j['fields']['author'][0]).end()
              .attr("emotion", j['fields']['emotion'])

            for(let i of j['fields']['likesfromuser']){
              if (getCookie('facebookid') == i) {
                result.find('a').attr('already', 'True')
                result.find('a').attr('class', 'ui grey left pointing label')
              }              
            }
              
            result.find('a').bind('click', (e) => {
                let target = $(e.target);
                if(getCookie('facebookid')==null){
                    toastr.error('請登入後再按讚')
                    return
                }
                if(target.attr('already')=='True'){
                  $.post( '/sloth/get/like?id='+j['pk'], {'csrfmiddlewaretoken':getCookie('csrftoken'),'like':-1,'facebookid':getCookie('facebookid')})
                  .done(function() {
                    tmp = target.text()
                    target.text(Number(tmp) + -1)
                    target.attr('already', 'False')
                    target.attr('class', 'ui basic red left pointing label')
                  })
                  .fail(function() {
                    toastr.error('按讚失敗')
                  })
                }
                else{
                  $.post( '/sloth/get/like?id='+j['pk'], {'csrfmiddlewaretoken':getCookie('csrftoken'),'like':1,'facebookid':getCookie('facebookid')})
                  .done(function() {
                    tmp = target.text()
                    target.text(Number(tmp) + 1)
                    target.attr('already', 'True')
                    target.attr('class', 'ui grey left pointing label')
                  })
                  .fail(function() {
                    toastr.error('按讚失敗')
                  })
                }
              }).end()
            $('#comments').append(result)
          }
        })

        // 提交心得表單
        $('#questionnaire').click(function() {
            // 取得semantic-ui的星星評分的value
            let value = $('.ui.rating')
              .rating('get rating').map(Number);
            let postdata = {
                'csrfmiddlewaretoken':getCookie('csrftoken'),
                'rating':JSON.stringify(value),
            }
            // pathname + search 就等於url pattern + querystring            
            $.post( '/sloth/get/questionnaire' + window.location.search, postdata)
            .done(function() {
                toastr.success('問卷提交成功')
                run();
            })
            .fail(function() {
                toastr.error('問卷提交失敗')
            })
            .always(function() {
            });               
        });

    });

    </script>
{% endblock %}