{% extends "infernoWeb/inside.html" %}
{% load static %}
{% block insideStyleSheet %}
    <link rel='stylesheet' href='{% static "infernoWeb/css/inside.css" %}'>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link rel="stylesheet" href="https://rawgit.com/tpreusse/radar-chart-d3/master/src/radar-chart.css">
    <style>
    .radar-chart .area {
    fill-opacity: 0.7;
    }
    .radar-chart.focus .area {
    fill-opacity: 0.3;
    }
    .radar-chart.focus .area.focused {
    fill-opacity: 0.9;
    }
    .area.germany, .germany .circle {
    fill: #FFD700;
    stroke: none;
    }
    .area.argentina, .argentina .circle {
    fill: #ADD8E6;
    stroke: none;
    }
    </style>
{% endblock %}
{% block profile %}
    <div id='profile'>
      {# 課程的詳細資訊 #}
    </div>
    <hr class="fade">
    
    {# 載入課程問卷 #}
    {% include "slothWeb/questionnaire.html" %}
    
{% endblock %}
{% block shopDetail %}

  <button class="orderBtn" id="goquestion">參與評比該課程</button>
  
{% endblock %}
{% block comments %}
      {# 列出所有使用者的留言 #}
{% endblock %}
{% block insideJavascript %}
    <script src={% static "bower_components/d3/d3.min.js" %}></script>
    <script src={% static "bower_components/radar-chart-d3/src/radar-chart.min.js" %}></script>
    <script>
    /*************************************************************************/
    // 給django做post的時候用來取得csrftoken的函式
    function getCookie(name) {
            //name should be 'csrftoken', as an argument to be sent into getCookie()
           var cookieValue = null;
           if (document.cookie && document.cookie != '') {
               var cookies = document.cookie.split(';');
               for (var i = 0; i < cookies.length; i++) {
                   var cookie = jQuery.trim(cookies[i]);
                   // Does this cookie string begin with the name we want?
                   if (cookie.substring(0, name.length + 1) == (name + '=')) {
                       cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                       break;
                   }
               }
           }
           return cookieValue;
    }
    function getcrsftoken(){
        return getCookie('csrftoken');//呼叫getCookie函數來取得csfttoken
    }
    /*************************************************************************/

    $( document ).ready(function() {
        $.getJSON('/sloth/get/cvalue' + window.location.search, function(json){
            let result = $(`
              <div class="courses-img">
                
              </div>
              <div class="description">
                <h2 id='name'></h2>
                <p class="cinema">
                  老師：<span id='teacher'></span><br>
                  課程類型：<span id='ctype'></span><br>
                  上課教材：<span id='book'></span><br>
                  課程大綱：<span id='syllabus'></span>
                </p>
                <p>
                  <i class="fa fa-heart" aria-hidden="true"></i><span id='feedback_amount'></span>人參與評分
                </p>
              </div>
              <div class="chart-container"></div>
            `)
            result
              .find('#avatar').attr('src', json['avatar']).end()
              .find('#name').text(json['name']).end()
              .find('#teacher').text(json['teacher']).end()
              .find('#ctype').text(json['ctype']).end()
              .find('#book').text(json['book']).end()
              .find('#syllabus').text(json['syllabus']).end()
              .find('#feedback_amount').text(json['feedback_amount']).end()
            $('#profile').append(result)
        }).done(function(result){
          // semantic-ui activation function
          $('.rating').rating('setting', 'clearable', true);
          $('#goquestion').click(function(){
              $('.modal')
                .modal('show')
              ;            
          })
        })
        /************************畫雷達圖***************************/
        async function run(){
          function getArticleList(){
              id = location.search.split('id=')[1]
              return new Promise(function(resolve, reject){
                  $.getJSON( "/sloth/get/cvalue?id="+id, function( j ) {
                  }).done(result => {
                      resolve(result);
                  });
              });
          }
          var result = await getArticleList();
          data = [
            {
                axes: [
                {axis: "自由", value: result['feedback_freedom']},
                {axis: "知識性", value: result['feedback_knowledgeable']},
                {axis: "氛圍", value: result['feedback_FU']},
                {axis: "成績", value: result['feedback_GPA']},
                {axis: "簡單", value: result['feedback_easy']}
                ]
            }
          ]

          $('.chart-container').empty();
          var chart = RadarChart.chart();
          chart.config({
            containerClass: 'radar-chart', // target with css, the default stylesheet targets .radar-chart
            w: 200,
            h: 200,
            factor: 0.9,
            factorLegend: 1,
            levels: 5,
            maxValue: 5,
            minValue: 0,
          });

          var svg = d3.select('.chart-container').append('svg')
            .attr('width', 200)
            .attr('height', 200); 

          // draw one
          svg = svg.append('g').classed('focus', 3).datum(data)
          svg.call(chart)
          d3.selectAll(".axis text").style("font-size","14px")
        }
        run();
        /************************畫雷達圖***************************/
        // query留言api，自動生成出留言
        $.getJSON('/sloth/get/comment' + window.location.search + '&start=1', function(json){
          for (let j of json){
            let result = $(
            `
            <div class="comments-item">
              <div class="customer">
                <img src='{% static "../media/student.png" %}'>
              </div>
              <div class="cusInfo">
                <b>同學</b>　<i class='create'></i>
                <div class="text">
                  <p class='raw'></p>
                  <div class="ui labeled button" tabindex="0">
                    <div class="mini ui red button">
                      <i class="heart icon"></i> Like
                    </div>
                    <a class="ui basic red left pointing label"></a>
                  </div>
                </div>
              </div>
            </div>
            `
            );
            result
              .find('i.create').text(j['fields']['create']).end()
              .find('p.raw').text(j['fields']['raw']).end()
              .find('a.pointing.label').text(j['fields']['like'])
              .bind('click', (e) => {
                let target = $(e.target);
                if(target.attr('already')=='True'){
                  $.post( '/sloth/get/like?id='+j['pk'], {'csrfmiddlewaretoken':getCookie('csrftoken'),'like':-1})
                  .done(function() {
                    tmp = target.text()
                    target.text(Number(tmp) + -1)
                    target.attr('already', 'False')
                    target.attr('class', 'ui basic red left pointing label')
                  })
                  .fail(function() {
                    toastr.error('按讚失敗')
                  })
                  .always(function() {
                    console.log( "cancel finished" );
                  });        
                }
                else{
                  $.post( '/sloth/get/like?id='+j['pk'], {'csrfmiddlewaretoken':getCookie('csrftoken'),'like':1})
                  .done(function() {
                    tmp = target.text()
                    target.text(Number(tmp) + 1)
                    target.attr('already', 'True')
                    target.attr('class', 'ui grey left pointing label')
                  })
                  .fail(function() {
                    toastr.error('按讚失敗')
                  })
                  .always(function() {
                    console.log( "finished" );
                  });                     
                }
              }).end()
            $('#comments').append(result)
          }
        })

        // 提交心得表單
        $('#questionnaire').click(function() {
            // 取得semantic-ui的星星評分的value
            let value = $('.ui.rating')
              .rating('get rating').map(Number);
            let postdata = {
                'csrfmiddlewaretoken':getCookie('csrftoken'),
                'rating':JSON.stringify(value),
            }
            // pathname + search 就等於url pattern + querystring            
            $.post( '/sloth/get/questionnaire' + window.location.search, postdata)
            .done(function() {
                toastr.success('問卷提交成功')
                run();
            })
            .fail(function() {
                toastr.error('問卷提交失敗')
            })
            .always(function() {
                console.log( "finished" );
            });               
        });

    });

    </script>
{% endblock %}