{% extends "infernoWeb/index.html" %}
{% load static %}
{% block navbar %}
	<ul class="nav">
		<li><a class="nav-link" href="/infernoWeb/sloth?school={{school}}&start=1&ctype=通識">通識</a></li>
		<li><a class="nav-link" href="/infernoWeb/sloth?school={{school}}&start=1&ctype=必修">必修</a></li>
		<li><a class="nav-link" href="/infernoWeb/sloth?school={{school}}&start=1&ctype=選修">選修</a></li>
		<li><a class="nav-link" href="/infernoWeb/sloth?school={{school}}&start=1&ctype=其他">其他</a></li>
	</ul>
{% endblock %}
{% block shopInfoBox %}
	<div id="courseList">
	</div>
{% endblock %}
{% block javascript %}
	<script>
	$( document ).ready(function() {
		$.getJSON('/sloth/get/search' + window.location.search, function(json){
			for(let i of json){
				let result = $(`
				  <div class="shopInfoBox">
					<div class="thumbnail">
						<a href="" class='avatar'><img class="shopImg" src=""></a>
						<div class="shopBoxBody">
							<a href="" class='title'><span class="shopTitle"></span></a>
							<span class="type" style="color:red"></span>{# 課程的類型 #}
							<div id='School_teacher'></div>
							<div id='feedback_amount'></div>
						</div>
					</div>
				  </div>
				`)
				School_teacher = $.parseHTML(`<p class="teacher">學校：${i['fields']['school']} 老師：${i['fields']['teacher']}</p>`)
				tmp = $.parseHTML('<h3><i class="fa fa-heart" aria-hidden="true"></i>' + i['fields']['feedback_amount']+'人參與評分' + '</h3>')
				result
				  .find('a.avatar').attr('href', '/infernoWeb/sloth/inside?id='+i['pk']).end()
				  .find('a.title').attr('href', '/infernoWeb/sloth/inside?id='+i['pk']).end()
				  .find('img').attr('src', i['fields']['avatar']).end()
				  .find('span.shopTitle').text(i['fields']['name']).end()
				  .find('span.type').text(i['fields']['ctype']).end()
				  .find('#School_teacher').html(School_teacher).end()
				  .find('#feedback_amount').html(tmp).end()
				$('#courseList').append(result)			
			}

			let querystring = (new URL(location)).searchParams;
			$('#search-form').val(querystring.get('name'))
		})
	})
	</script>
{% endblock %}