{% load static %}
<!DOCTYPE HTML>
<html>

<head>
    <meta charset='utf-8' />
    <title>{% block title %}{% endblock %}</title>
    <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css' rel='stylesheet' integrity='sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1' crossorigin='anonymous'>
    <link rel='stylesheet' href='{% static "stufinite/css/stufinite.css" %}'> {% block stylesheet %} {% endblock %}
</head>

<body>
    <header class='stufinite-header'>
        <div class="stufinite-inner">
        <div class='stufinite-header-title'>
            <span>{% block app_name %}{% endblock %}</span>
            <img src="" alt="LOGO">
        </div>
        
        <div class='stufinite-header-search'>
            <input id='search-form' type='text' placeholder='輸入課程名稱、代碼、教師名稱、餐廳名稱或進行關鍵字搜尋'>
        </div>
        <input class="search-btn" type="button" value="送出"></input>
        <i class="fa fa-bars fa-2x" aria-hidden="true" tabindex="0" onclick="return true"></i>
        <div class="menu">
            <div class="nav_bar">
                <ul class="nav_pills">
                    <li><a href="">課表</a></li>
                    <li><a href="">課程心得</a></li>
                    <li><a href="">吃飯</a></li>
                </ul>
            </div>
            <div class='stufinite-header-item'>
                <a href="https://login.campass.com.tw/accounts/profile"><i class="fa fa-user fa-2x" aria-hidden="true"></i>{{ user.username }} </a>
                <a href="http://login.campass.com.tw/accounts/logout" class='stufinite-btn'>Logout</a>
            </div>
        </div>
        </div>
    </header>
    {% block content %} {% endblock %}
    <footer>
        <span>Copyright © 2016 All rights reserved.</span>
        <a target="_blank" href="https://www.facebook.com/CoursePickingHelper/"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
    </footer>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    {% block javascript %} {% endblock %}
    <!-- 你跟川哲討論完之後可以砍掉  他好像想用自己寫的css  前端框架你們決定吧~~  我不擅長 -->
    <!--
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
    -->
    <!-- 你跟川哲討論完之後可以砍掉  他好像想用自己寫的css  前端框架你們決定吧~~  我不擅長 -->
</body>

</html>
