{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}選課小幫手{% endblock %}</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'stufinite/css/stufinite.css' %}">

    {% block eachStyle %}{% endblock %}
    {% block stylesheet %}
    {% endblock %}
</head>

<body>
    <!-- Following Menu -->
    {% include "navbar.html" %}
    <!-- Page Contents 功能簡介 -->
    {% block content %}
    {% endblock %}

    {% include "footer.html" %}


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
    $('.ui.sticky')
    .sticky({
    context: '#example1'
    });
    })
    </script>

    {% block javascript %}
    {% endblock %}
</body>

</html>
