{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>TimeToEat</title>
    <link rel="icon" href="nchu_sg.jpg" type="image/ico" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 引入Ｊquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- 引入Ｊs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.js"></script>
    <!-- 引入CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.css"> {% block eachStyle %}{% endblock %}
</head>

<body>
    <!-- Following Menu -->
    <!-- Page Contents 功能簡介 -->
    <div class="pusher">
        <!-- ================================================= -->
        <div class="ui huge secondary pointing menu">
            <a class="item" href="http://127.0.0.1:8000/time2eat/">
                <h2>推薦餐廳</h2>
            </a>
            <a class="item" href="http://127.0.0.1:8000/time2eat/all_list/">
                <h2>餐廳總覽</h2>
            </a>
            <a class="active item" href="http://127.0.0.1:8000/time2eat/nearby_list">
                <h2>附近餐廳</h2>
            </a>
            <a class="item" href="">
                <h2>今晚吃什麼</h2>
            </a>
            <div class="right menu">
                <div class="ui transparent icon input">
                    <input placeholder="尋找餐廳" type="text">
                    <i class="search link icon"></i>
                </div>
                <div class="item">
                    <div class="ui icon button"><i class="user icon"></i></div>
                </div>
            </div>
        </div>
        <div class="ui segment">
            <p>
                <div class="ui two column centered grid">
                    <div class="column">
                        <div class="ui three column centered grid">
                            <div class="column"></div>
                            <div class="column"></div>
                            <div class="column">
                                <div class="ui right floated compact icon menu">
                                    <a class="item" href="http://127.0.0.1:8000/time2eat/nearby_picture/">
                                        <i class="grid layout icon"></i>
                                    </a>
                                    <a class="item" href="http://127.0.0.1:8000/time2eat/nearby_list/">
                                        <i class="list layout icon"></i>
                                    </a>
                                    <a class="item" href="http://127.0.0.1:8000/time2eat/nearby_listpic/">
                                        <i class="content icon"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="ui divided items">
                            <div class="item">
                                <div class="ui fluid card">
                                    <div class="image">
                                        <img src="http://www.ban-ma.com/public/upload/discover/2496/a6bd5d954a73a778.jpg">
                                    </div>
                                    <div class="content">
                                        <div class="ui right floated lable"><i class="marker icon"></i></i>8763 m</div>
                                        <div class="ui right floated lable"><i class="heart icon"></i>23 likes</div>
                                        <a class="header" href="http://127.0.0.1:8000/time2eat/inside_resturant">麥當勞</a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="ui fluid card">
                                    <div class="image">
                                        <img src="http://www.ban-ma.com/public/upload/discover/2496/a6bd5d954a73a778.jpg">
                                    </div>
                                    <div class="content">
                                        <div class="ui right floated lable"><i class="marker icon"></i></i>8763 m</div>
                                        <div class="ui right floated lable"><i class="heart icon"></i>23 likes</div>
                                        <a class="header" href="http://127.0.0.1:8000/time2eat/inside_resturant">麥當勞</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </p>
        </div>
    </div>
</body>
<script type="text/javascript">
// pasthere
</script>

</html>
